<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-PetFeed-20130517084304;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-PetFeed-20130517084304.mdf" />
    <add name="KierServerConnectionString"
     connectionString=" Server= 205.250.230.136;
                            Port=5432;
                            User Id = user;
                            Password = pa55w0rd;
                            Database=DogFeedApplication
                            "/>


  </connectionStrings>
</configuration>